.App {
  text-align: center;
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lettersList{
  list-style-type: none;
}
.letter{
  display: inline;
  padding-left: 3px;
}
#root{
  
  font-size: 20px;
  height: 100vh;
  width: 100%vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(154, 207, 240, 0.916);
}
.selectedLetter{
  text-decoration: line-through;
}
.solution{
  text-decoration: none !important;
}
div.solution > span.selectedLetter.letter {
  text-decoration: none;
}
.container{
  margin: 40px;
  align-items: center;
}
.title{
  padding-top: 100px;
  padding-bottom: 100px;
}
.high-score{
  color: rgba(0, 128, 0, 0.754);
}
.medium-score{
  color: rgba(255, 255, 0, 0.597);
}
.low-score{
  color: rgba(255, 0, 0, 0.623);
}